#about {
  background-color: white;
}

#about h1 {
  font-size: 2.5rem;
  margin-top: 300px;
  margin-bottom: 40px;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fffefe;
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 200px;
}

#about p br {
  margin-bottom: 10px;
}

#about p strong {
  display: block;
  margin-top: 20px;
  font-size: 1.3rem;
  color: #333;
}

#about p {
  padding: 20px; /* Padding */
  max-width: 1300px; /* Max width */
  max-height: 500px;
  margin: 0 auto; /* Centering the section */
}

#about p {
  font-size: 1.1rem; /* Font size for paragraphs */
  line-height: 1.6; /* Line height for paragraphs */
  color: #000000; /* Text color */
  text-align: justify; /* Justify text */
  background-color: #867c7c4c; /* Background color for the paragraph */
  padding: 20px; /* Padding for the paragraph */
}
#about h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}
